.App {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: $primary;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 50px;
  background-color: $dark;
}

.container {
  position: absolute;
  top: 50px;
  min-width: 100%;
}

.content {
  background-color: white;
  min-height: calc(100vh - 50px) !important;
  padding: 0;
}

ul {
  padding: 0;
}

.Menu {
  background-color: $primary;
  margin: 0;
  padding: 0;
  height: 95vh;
}

@media only screen and (max-width: 825px) {
  .Menu {
    height: 45vh;
  }
}

li {
  list-style: none;
  font-size: 1rem;
  text-align: left;
  padding: 0 15px;
}

a {
  color: $pink;
}

.ligh-font {
  color: $light;
}

.element {
  overflow-x: hidden !important;
  height: 70vh!important;
}

.right {
  float: right;
}

.logo_img {
  margin: 10px auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 10px;
  box-shadow: 0 0 8px $dark;
  background-color: white;
  img {
    width: 100px;
  }
}

.logout_button {
  height: 50px;
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.logout_button:hover {
  background-color: $dark;
}


button {
  background-color: $info;
  color: white;
  font-weight: bolder;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: $primary;
}
