.module {
  min-height: 90vh;
  h2 {
    margin: 20px;
  }

  .accordion {
    cursor: pointer;
    min-height: 3.8rem;
    background-color: $dark;
    color: $light;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
    margin: auto;
    font-size: 1rem;
    font-weight: bolder;
  }

  .active,
  .accordion:hover {
    background-color: $primary;
  }

  .active{
    div{
      height: 63vh!important;
      width: 100%!important;
    }.bloqued{
      position: absolute;
      background-color: none;
      z-index: 9999999999;
      height: 10vh!important;
    }
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    width: 100%;
  }

  .container {
    position: relative;
    top: 0px;
    min-width: 100%;
  }

  iframe{
    width: 100%!important;
  }

  .fit{
    padding: 0!important;
  }
  
}
